---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.jsx';
---

<Layout title="Astro Project">
	<main>
		<Button>Astro, React, Tailwind and Cypress project</Button>

	</main>
</Layout>
<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
